<% provide(:title, "勤怠ログ") %>

<div class="container">
  <h1>勤怠ログ</h1>

    <%= form_with(url: attendance_log_user_attendance_path, local: true, method: :get) do |f| %>
      <div class="pull-left">
        <%= f.date_select :worked_on, {use_month_numbers: true,discard_day: true,prompt:["年","月"]},{class:"form-control bootstrap-date-only-width"} %>
        <%= f.submit "検索", class: 'btn' %>
      </div>
    <% end %>

  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th colspan="2">変更前出社時間</th>
        <th colspan="2">変更前退社時間</th>
        <th colspan="2">変更後出社時間</th>
        <th colspan="2">変更後退社時間</th>
        <th>指示者</th>
        <th>承認日</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><%= day.worked_on.strftime("%Y年%m月%d日(#{$days_of_the_week[day.worked_on.wday]})") %></td>
          <td colspan="2"><%= l(day.begin_started, format: :time) if day.begin_started.present? %></td>
          <td colspan="2"><%= l(day.begin_finished, format: :time) if day.begin_finished.present? %></td>
          <td colspan="2"><%= l(day.started_at, format: :time) if day.started_at.present? %></td>
          <td colspan="2"><%= l(day.finished_at, format: :time) if day.finished_at.present? %></td>
          <td><%= day.attendances_request_superior %></td>
          <td><%= day.updated_at.strftime("%Y年%m月%d日") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
